:root{
    --primaryColor: rgb(225, 92, 211);
    --secondaryColor: white;
}

*{
    background-color: rgb(27, 30, 44);
}


/* Header */
#header{
    color: var(--primaryColor);
    text-align: center;
}

#explanation{
    color: var(--secondaryColor);
    text-align: center;
    font-size: 18px;
}


/* Card Grid */
#cardGrid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

@media only screen and (max-width: 991px) and (min-width: 768){
    #cardGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 767px){
    #cardGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}


/* Card Design */
.card{
    border:dashed var(--secondaryColor) 2px;
    margin: 15px;
}

.cardHeader{
    position: relative;
    border: solid var(--secondaryColor) 2px;
    border-radius: 5px;
    margin: -15px 25px 0px 25px;
    padding: 10px;
    color: var(--primaryColor);
}

.description{
    color: var(--secondaryColor);
    margin: 0px 10px;
    display: grid;
}

pre{
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    white-space: pre-line;
    border-radius: 5px;
}


/* Card Glow */
.card .cardHeader{
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .cardHeader{
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0px 0px 15px
    rgba(232, 102, 236, 1);
}


/* Card Content Highlighted */
.code {
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    color: var(--primaryColor);
}